body
{
    overflow-x: hidden;
}
sidenav{
    position: fixed;

}
.column{
    position: relative;
    top: 170px;
    left: 85px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tokyoo{
    font-size: 200%;
}

.home{
    border: 1px solid white;
    background-color: white;
    font-size: 100%;
    color:black;
    text-decoration: none;
}
.home:hover{
    color: black;
}
.about{
    border: 1px solid white;
    background-color: white;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.about:hover{
    color: black;
}
.portfolio{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.portfolio:hover{
    color: black;
}   
.news{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
}
.news:hover{
    color: black;
} 
.contact{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.contact:hover{
    color: black;
}
#tokyo{
    color: rgb(174, 176, 179);
    font-style: italic;
    font-size: 90%;
}
.vertical{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:770px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;
}

.vertical1{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:1000px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;
}

.faceimg{
    height: 300px;
    position: relative;
    left: 140px;
    top: 190px;
    border-radius: 70%;
}
.textnlogo{
    position: absolute;
    top: 180px;
    left: 530px;
    
}

#as{
        font-weight: 800;
        font-size: 350%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ans{
    font-style: italic;
    color: gray;
    font-size: 120%;
}
.logo{
    position: relative;
    left: 100px;

}
.facebook{
    width: 25px;
}
.twitter{
    width: 25px;

}
.instagram{
    width: 25px;
}
.basketball{
    width: 25px;
}
.tiktok{
    width: 25px;
}

.myface{
    height: 440px;
    width: 880px;
    position: relative;
    left: 120px;
    top: 130px;
}
.text1{
    position: relative;
    top: 140px;
    left:120px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#asmith{
    font-size: 150%;
    font-weight: bold;
}
#aboutme{
     color: grey;
     font-style: oblique;
}
.box {
    position: absolute;
    top: 760px;
    left: 510px;
}
  
.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
  }
.button:hover {
    padding-left: 15px;
  }
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 75%;
    overflow:scroll;
    overflow-x: hidden;
  }
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
    position: relative;
    top: -350px;
    left: 880px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
.popup .close:hover {
    color: rgb(114, 110, 110);
  }
.popup .content {
    max-height: 30%;
    overflow:auto;
  }
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

.bio{
     position: absolute;
     left: 620px;
     top: 650px;
     font-style: italic;
 }
.psks{
     position: relative;
     top: 65px;
     left: 45px;
 }

.container1 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress1 {
    height: 2px;
    background-color:rgb(212, 208, 204);
}
.progress1 .bar1 {
    width: 50%;
    height: 2px;
    background-color: black;
}

.container2 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress2 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress2 .bar2 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container3 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress3 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress3 .bar3 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container5 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress5 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress5 .bar5 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container6 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress6 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress6 .bar6 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.lang{
    position:relative;
    left: 500px;
    top: -100px;
}
.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container5 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress5 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress5 .bar5 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container6 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress6 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress6 .bar6 {
    width: 50%;
    height: 3px;
    background-color: black;
}



.funfacts{
    position: relative;
    left: 45px;
}

.projcomp{
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}
.happyclients{
    position: relative;
    top: -120px;
    left: 270px;
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}
.loc{
    position: relative;
    top: -240px;
    left: 540px;
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}

.ourpartners{
    position:relative;
    top: -150px;
    left: 45px;
}






